/* Global Styles */

html, body {
    height: 100%;
}

body {
	font-family: 'Oswald', sans-serif;
	background:gray;
}


#logo{
	background: black;
	padding:1em;
}


.main-wrapper{
	padding-top:3em;
	background: white;
}


.container .title{
	text-align: center;
}

.book-item{
	background: purple;
	margin-bottom: 0.5em;
	color:white;
}



.item-price-col{
	text-align: center;
}

.item-price-col span{
	font-size: 2em;
}

.total-completed-price{
	color:white;
	background: black;
}



.footer{
	color:white;
	padding-top: 1em;
}

.footer .visible-xs-block{
	text-align: center;
	margin-bottom:1em;
	line-height: 1em;
}

.footer .subfooter{
	float:right;

}	
@media (max-width: 767px){
	.footer .subfooter{
		float:none;
	}	
}

.footer span{
	margin-right: 0.5em;
}

.footer img{
	margin-top: -0.5em;
}