/* Global Styles */

html, body {
    height: 100%;
}

body {
	font-family: 'Oswald', sans-serif;
	background:gray;
}


#logo{
	background: black;
	padding:1em;
}




.main-wrapper .container-fluid{
	padding-top:2em;
	padding-bottom:2em;
	background: white;
}


.container-fluid .title{
	text-align: center;
}

.book-item{
	background: purple;
	margin-bottom: 0.5em;
	color:white;
	display: table;
	width: 100%;
	margin-left: 0px;
}

.item-details-column{
	display: table-cell;
	padding-left: 5px;
	padding-right: 5px;
	float: none;;
	vertical-align: middle;
}


.item-details-image{
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
}

.item-details-image > div{
	display: table-cell;
	text-align: center;
	float: none;
}
.item-details-image > div:first-child{
	width: 10%;
}
.item-details-image > div:last-child{
	width: 45%;
}

.item-details-image .img-responsive{
	margin: auto;
	height: 100%;
	object-fit:cover;
}

.remove-item-col{
	vertical-align: middle;
}

.items-details-to-buy{
	display: table;
	table-layout: fixed;
	width: 100%;
}

.items-details-to-buy > div{
	display: table-cell;
	float:none;
}

.item-price-col{
	text-align: center;
}

.item-price-col span{
	font-size: 1.25em;
}

.item-btn-buy-col{
	padding: 0;
}

.item-contract-col{
	text-align: center;
}

.total-completed-price{
	color:white;
	background: black;
}


.remove-item-btn{
	background: url(../images/Button-Close.png) no-repeat center center;
	background-size: 1.5em;
	display: block;
	text-indent: -9999px;
	min-height: 1.5em;
	min-width: 1.5em;
	overflow: hidden;
}

.download-item-btn{
	background: url(../images/Button-Download.png) no-repeat center center;
	background-size: contain;
	display: block;
	text-indent: -9999px;
	width: 60%;
	height: 60%;
	margin-left: 20%;
}

.btn-buy{
	background: none;
	border: 1px solid white;
	color: white;
	width: 100%;
	text-align: center;
}


.total-price-row{
	width: 100%;
	margin-left: 0;
}

.total-price-col{
	color: white;
	background: black;
	padding: 0.5em;
	text-align: center;
}

.btn-add-all{
	background: #ef69ef;
	color: white;
	border:none;
}


@media (max-width: 767px){
	.book-item{
		padding: 15px;
	}

	.item-details-column{
		vertical-align: top;
	}

	.item-details-image{
		display: block;
		position: absolute;
		float:left;
		bottom: 0px;
		top:0px;
		width: 100%;
		height: auto;
	}

	

	.item-details-image > div:first-child{
		width: 100%;
		display: block;
		height: 40%;
		text-align: left;
	}

	.item-details-image > div:last-child{
		width: 100%;
		display: block;
		height: 60%;
	}


	.remove-item-col{
		vertical-align: top;
	}

	.item-price-col{
		text-align: left;
		font-size: 1em;
	}

	.items-details-to-buy{
		display: block;
	}

	.items-details-to-buy > div{
		display: block
	}

	.item-btn-buy-col{
		padding: 15px;
	}
	.btn-buy{
		width: 80%;
		text-overflow:ellipsis;
		overflow: hidden;
	}

	.total-price-col{
		padding: 2.5em;
	}

	.total-price-btn-col{
		background: none;
		padding: 0.5em 0;
	}

	.total-price-btn-col .btn-add-all{
		width: 100%;
	}


}


.valign-center{
	vertical-align: middle;
}




/*.display-table{
	display: table;
	table-layout: fixed;
}

.display-cell{
	display: table-cell;
	vertical-align: middle;
	float:none;
}*/

.footer{
	color:white;
	padding-top: 1em;
}

.footer .visible-xs-block{
	text-align: center;
	margin-bottom:1em;
	line-height: 1em;
}

.footer .subfooter{
	float:right;

}	
@media (max-width: 767px){
	.footer .subfooter{
		float:none;
	}	
}

.footer span{
	margin-right: 0.5em;
}

.footer img{
	margin-top: -0.5em;
}