<div class="container-fluid" ng-controller="CompletedListCtrl">
	<a href="/"><i class="fa fa-angle-left" aria-hidden="true"></i> HOME</a>
	<h2 ng-bind="title" class="title"></h2>
	<div class="row book-item" ng-repeat="item in items | filter:{added:true, removed:false}">
		<div class="col-xs-3 item-details-column">
			<div class="item-details-image">
				<div class="valign-center">
					{{$index + 1}}
				</div>
				<div class="valign-center hidden-xs">
					<img class="img-responsive" alt="{{item.getTitle()}}" ng-src="{{item.getImage()}}">
				</div>
				<div class="valign-center">
					<a class="download-item-btn" href="#" alt="Download">Download</a>
				</div>
			</div>
		</div>
		<div class="col-xs-9 item-details-column">
			<div class="row items-details-to-buy">
				<div class="col-sm-10">
					<p>{{item.getTitle() | uppercase}}</p>
					<a href="#">{{item.getArtist()}}</a>
					<div class="hidden-xs"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
				</div>
				<div class="col-sm-2 item-price-col valign-center">
					<span>{{item.getPrice() | bookPriceFltr}}</span>
					<br/>
					<a href="#" class="hidden-xs">See Review</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row total-price-row">
		<div class="total-price-col col-sm-3 col-sm-offset-9">
			<span>Total Price: {{totalPrice | bookPriceFltr}}</span>
		</div>
	</div>
</div>