<footer class="footer container">
	<div class="visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-block">
		<span>&#64; 2014 RUNWAY</span>
	</div>
	<div class="subfooter">
		<div class="visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-block">
			<span>MOCKUP 02 FOR FRONT END PROSPECTS BY</span>
		</div>
		<div class="visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-block">
			<img src="images/Logo-rokk3r.png">
		</div>
	<div>
</footer>